# IntelliJ project files
.idea
*.iml
out
gen

# Recommended template: Node.gitignore

node_modules/
dist/
npm-debug.log
yarn-error.log

# ignore package-lock if generated (project uses yarn, not npm)
package-lock.json
